#barranav{
    /*background-color: #11122b;
    opacity: 0.8;*/
    background-color: #282940;
   
    
    /*height: 12rem;*/
    padding: 0px 4rem;
}

@media (min-width: 992px){
    #barranav{
        height: 12rem;
    }

}



#barranav a{
    color: white;
    /*font-size: 1.5rem;*/
}

#menuimagen a{
    color: #11122b; 
}

#menudesplegable a{
    color: #11122b;
}

#opcionesnav li{

    margin-left: 2rem;
}

#opperfil{
    margin-left: 10rem ;
    justify-content: end;
    
}

.img-profile {
    max-width: 5rem ;
    max-height: 5rem;
    /*border: .5rem solid rgba(255,255,255,.2);*/
    
}

