html{
    scroll-behavior:smooth;
}

body{
    margin: 0px;
    background-image: url(imagenes/pc8.jpg) ; /*imagen fondo*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Pacifico', cursive;*/
}

/*Fila descripción página símbolos*/


#cajas{
    margin: 0px;
    background-color: white;
    width: 100%;
    /*border-top: 10px solid #11122b;*/
    border-bottom: 10px solid #11122b;
    border-top: 10px solid #11122b;
    justify-content: center;
    align-items: center;
    height: 400px;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.columnascaracteristicas{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.columnascaracteristicas> .columna{
    text-align: center;
    padding: 20px;
    margin: 42px;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1.5s;

}

.columnascaracteristicas> .columna:hover{
    border-bottom: 5px solid #11122b;
}  

#acolumna{
    display: block; /*Para que el enlace sea todo la columna*/
    color: #11122b;
}

#acolumna:hover{
    text-decoration: none; /*Sale subrayado el texto si no*/
}

#icolumna{
    margin-bottom: 12px;
    font-size: 3em;
}

#tcolumna{
    font-size: 1.5em;
    font-weight: 900;
}

#pcolumna{
    letter-spacing: 2px;
}


@media (max-width:815px){

    #cajas{
        height: 100%;
    }


    .columnascaracteristicas{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}


#barra{
    background-color: #11122b;
    opacity: 0.8;
    height: 200px;
    padding: 0px 4rem;
}

#barra a{
    color: white;
}

#boton1{
    color: #11122b;
    margin-left: 2rem;
}

#boton2{
    margin-left: 2rem;
}

#boton3{
    margin-left: 2rem;
}

/*Fila Ofertas*/

#ofertas{
    
    /*box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.38);*/
    margin: 0px;
    display: flex;
    height: 38rem;
    /*background-color: #F5F9FC;*/
    
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ofertas.tituloofertas{
    margin-bottom: 10rem;
}

h1{
    color: white;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding: 10px;
    border-radius: 10px;
    /*background-color: #11122b;
    opacity: 0.8;*/
    background-color: #282940;
    
}

.contenedorofertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
}



/*buscador*/

/*#seccionbuscador{
    height: 3rem;
    width: 100rem;
    margin: 0px;
}*/

#cajabuscador{
    border-radius:50px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -webkit-box-shadow:8px 0px 23px 0px #020202 ;
    -moz-box-shadow:8px 0px 23px 0px #020202 ;
    box-shadow:8px 0px 23px 0px #020202 ;
    justify-content: center;
    /*width: 80%;*/
    height: auto;
    margin:3rem;
    padding:2rem;
    background-color: rgba(252,252,254,0.7);
}




#provincia{
    border: none;
    background-color: #f8f9fa;
    transition: 1s;
    border: solid 0.3px transparent;
    
    /*transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}

#provincia:hover {
    border: solid 0.3px #11122b;
}

#provincia:active +  option:hover {
    background-color:#f8f9fa ;
}

#botonbuscar{
    margin-left: 10px;
    border-color: transparent;
    color: white;
    width: 150px;
}

#botonbuscar:hover{
    color: white;
    background-color: #11122b;
}
/*
@media (max-width:750px){
    #cajabuscador{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
*/





/*Sección candidaturas*/

#candidaturas{
    
    /*box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.38);*/
    margin: 0px;
    display: flex;
    height: 25rem;
    background-color: white;
    
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#candidaturas .titulocandidaturas{
    margin-bottom: 3rem;
}

.contenedorcandidaturas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    flex-direction: row;
}
/*Sección visitas*/

#visitas{
    
    /*box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.38);*/
    margin: 0px;
    display: flex;
    height: 45rem;
    
    background: linear-gradient(180deg, #faf8f7 100%, rgba(250,248,247,0) 100%);
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#visitas .titulovisitas{
    margin-bottom: 3rem;
}

.contenedorvisitas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    flex-direction: row;
}




