footer{
    /*background-color: #11122b;*/
    background-color: #282940;
    
    color: white;
}

footer a{
    color: white;
    transition: 0.5s;
}

footer i{
    font-size: 30px;
    margin: 10px 10px;
}

footer a:hover{
    color: #9c9ca7;
    text-decoration: none;
}

#footerlogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

h5{
    width: 200px;
}