html{
    scroll-behavior:smooth;
}

body{
    margin: 0px;
    background-image: url(imagenes/registro2.jpg); /*imagen fondo*/
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Pacifico', cursive;*/
}

#barra{
    background-color: #11122b;
    opacity: 0.8;
    height: 12rem;
    padding: 0px 4rem;
}

#barra a{
    color: white;
}

#boton1{
    color: #11122b;
    margin-left: 2rem;
}

#boton2{
    margin-left: 2rem;
}

#seccionbuscador, #seccionajustes{
    height: auto;
    padding:2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    
}



#cajaregistro, #registerForm , #cajaajustes, #formulariooferta, #formnombrecv{
    border-radius:50px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -webkit-box-shadow:8px 0px 23px 0px #020202 ;
    -moz-box-shadow:8px 0px 23px 0px #020202 ;
    box-shadow:8px 0px 23px 0px #020202 ;
    justify-content: center;
    width: 800px;
    height: auto;
    margin:3rem;
    padding:2rem;
    /*background-color: rgba(252,252,254,0.7);*/
    background-color: white;
}

#cajaregistro .titulo{
    font-weight: normal;
}

#registerForm .titulo{
    font-weight: normal;
}

#buscador{
    width: 300px;
}

#provincia{
    border: none;
    background-color: #f8f9fa;
    transition: 1s;
    border: solid 0.3px transparent;
    
    /*transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}




#provincia:hover {
    border: solid 0.3px #11122b;
}

#provincia:active +  option:hover {
    background-color:#f8f9fa ;
}


#botonbuscar, #registrar, #guardarajustes, #crearoferta, #botonnombrecv, #subircv{
    margin-left: 10px;
    border-color: transparent;
    color: white;
    width: 150px;
}

#subircv:hover,#botonnombrecv:hover{
    color: white;
    background-color: #11122b;
}

#crearoferta:hover{
    color: white;
    background-color: #11122b;
}


#registrar:hover{
    color: white;
    background-color: #11122b;
}

#guardarajustes:hover{
    color: white;
    background-color: #11122b;
}


@media (max-width:750px){
    #cajabuscador{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*Sección cajas*/


#cajas{
    margin: 0px;
    background-color: white;
    width: 100%;
    border-top: 10px solid #11122b;
    border-bottom: 10px solid #11122b;
    justify-content: center;
    align-items: center;
    height: 30rem;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.columnascaracteristicas{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.columnascaracteristicas> .columna{
    text-align: center;
    padding: 20px;
    margin: 42px;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1.5s;

}

.columnascaracteristicas> .columna:hover{
    border-bottom: 5px solid #11122b;
}  

#acolumna{
    display: block; /*Para que el enlace sea todo la columna*/
    color: #11122b;
}

#acolumna:hover{
    text-decoration: none; /*Sale subrayado el texto si no*/
}

#icolumna{
    margin-bottom: 12px;
    font-size: 3em;
}

#tcolumna{
    font-size: 1.5em;
    font-weight: 900;
}

#pcolumna{
    letter-spacing: 2px;
}


@media (max-width:815px){

    #cajas{
        height: 100%;
    }


    .columnascaracteristicas{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}




/*Sección Noticias*/

#noticias{
    
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.38);
    margin: 0px;
    display: flex;
    height: 700px;
    background-color: white;
    border-bottom: 10px solid #11122b;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#noticias h1{
    color: #11122b;
    font-size: 2.5em;
    font-weight: 900;
}



#noticias .titulonoticias{
    margin-bottom: 3rem;
}

.contenedornoticias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}




/*Sección Ofertas*/

#ofertas{
    
    margin: 0px;
    display: flex;
    height: 700px;
    background-color: white;
    border-bottom: 10px solid #11122b;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ofertas .tituloofertas{
    margin-bottom: 3rem;
}

.contenedorofertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}




/*Sección Asesoramiento*/

#asesoramiento{
    
    margin: 0px;
    display: flex;
    height: 700px;
    background-color: white;
    border-bottom: 10px solid #11122b;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#asesoramiento .tituloasesoramiento{
        margin-bottom: 3rem;
}

.contenedorasesoramiento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}


/*Sección cvweb*/

#cvweb{
    
    margin: 0px;
    display: flex;
    height: 800px;
    background-color: white;
    border-bottom: 10px solid #11122b;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cvweb .titulocvweb{
        margin-bottom: 3rem;
}

.contenedorcvweb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

#video{
    height: 500px;
    width: auto;
}


.form-group label{
    font-weight: bold;
}



