html{
    scroll-behavior:smooth;
}

body{
    margin: 0px;
    background-image: url(imagenes/workcolor.jpg); /*imagen fondo*/
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Pacifico', cursive;*/
}

h1{
    color: white;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding: 10px;
    border-radius: 10px;
    /*background-color: #11122b;
    opacity: 0.8;*/
    background-color: #282940;
    
}

#barra{
    background-color: #11122b;
    opacity: 0.8;
    /*background-color: #282940;*/
    /*background-color: #3D3E53;*/
    height: 12rem;
    padding: 0px 4rem;
}

#barra a{
    color: white;
}

#boton1{
    color: #11122b;
    margin-left: 2rem;
}

#boton2{
    margin-left: 2rem;
}

#seccionbuscador, #seccionajustes{
    height: 28rem;
    padding:2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;    
}

#cajabuscador, #loginForm, #cajaajustes{
    border-radius:50px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -webkit-box-shadow:8px 0px 23px 0px #020202 ;
    -moz-box-shadow:8px 0px 23px 0px #020202 ;
    box-shadow:8px 0px 23px 0px #020202 ;
    justify-content: center;
    width: 800px;
    height: auto;
    margin:3rem;
    padding:2rem;
    background-color: rgba(252,252,254,0.7);
}

#buscador, #usuario, #password, #contrasena{
    width: 300px;
}

#provincia{
    border: none;
    background-color: #f8f9fa;
    transition: 1s;
    border: solid 0.3px transparent;
    
    /*transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
}




#provincia:hover {
    border: solid 0.3px #11122b;
}

#provincia:active +  option:hover {
    background-color:#f8f9fa ;
}


#botonbuscar, #login{
    margin-left: 10px;
    border-color: transparent;
    color: white;
    width: 150px;
}

#login:hover{
    color: white;
    background-color: #11122b;
}

#botonbuscar:hover{
    color: white;
    background-color: #11122b;
}


@media (max-width:750px){
    #cajabuscador{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*Sección cajas*/


#cajas{
    margin: 0px;
    background-color: white;
    width: 100%;
    border-top: 10px solid #11122b;
    border-bottom: 10px solid #11122b;
    justify-content: center;
    align-items: center;
    height: 30rem;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.columnascaracteristicas{
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.columnascaracteristicas> .columna{
    text-align: center;
    padding: 20px;
    margin: 42px;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1.5s;

}

.columnascaracteristicas> .columna:hover{
    border-bottom: 5px solid #11122b;
}  

#acolumna{
    display: block; /*Para que el enlace sea todo la columna*/
    color: #11122b;
}

#acolumna:hover{
    text-decoration: none; /*Sale subrayado el texto si no*/
}

#icolumna{
    margin-bottom: 12px;
    font-size: 3em;
}

#tcolumna{
    font-size: 1.5em;
    font-weight: 900;
}

#pcolumna{
    letter-spacing: 2px;
}


@media (max-width:815px){

    #cajas, #noticias, #ofertas, #asesoramiento{
        height: 100%;
        
    }


    .columnascaracteristicas, .contenerdornoticias, .contenedorofertas, .contenedorasesoramiento{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}




/*Sección Noticias*/

#noticias{
    
    /*box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.38);*/
    margin: 0px;
    /*display: flex;*/
    height: 700px;
    background-color: #F5F9FC;
    /*border-bottom: 10px solid #11122b;*/
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





#noticias .titulonoticias{
    display: flex;
    margin-bottom: 3rem;
}

.contenedornoticias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

.card{
    display: block;
}




/*Sección Ofertas*/

#ofertas{
    
    margin: 0px;
    display: flex;
    height: 700px;
    /*background-color: white;*/
    background: linear-gradient(180deg, #faf8f7 100%, rgba(250,248,247,0) 100%);
    /*border-bottom: 10px solid #11122b;*/
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ofertas .tituloofertas{
    margin-bottom: 3rem;
}

.contenedorofertas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    
}




/*Sección Asesoramiento*/

#asesoramiento{
    
    margin: 0px;
    display: flex;
    height: 1000px;
    background-color: white;
    /*border-bottom: 10px solid #11122b;*/
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#asesoramiento .tituloasesoramiento{
        margin-bottom: 3rem;
}

.contenedorasesoramiento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    flex-direction: column;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: flex;
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}








/*Sección cvweb*/

#cvweb{
    
    margin: 0px;
    display: flex;
    height: 800px;
    background-color: white;
    /*border-bottom: 10px solid #11122b;*/
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#cvweb .titulocvweb{
        margin-bottom: 3rem;
}





.contenedorcvweb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

.cvwebcaracteristicas{
    /*background-color: #11122b;
    opacity: 0.8;*/
    background-color: #282940;
    border-radius: 20px;
    color: white;
    padding:  40px;
    padding-right: 40px;
    padding-left: 40px;
    
    
}

.detallescv{
    display: flex;
    font-family: "ubuntu condensed", sans-serif;
    font-family: 900;
    justify-content: space-between;
    margin: 40px 0px;
    align-items: center;
    text-align: left;
    font-size: 1.1em; 
    font-weight: 500;
    letter-spacing: 2px;
    
    
}

.detallescv i{
    font-size: 2em;
    margin-right: 40px;
    color: white;
}

.videocontenedor{
    margin:0;
    border: solid 40px goldenrod;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

#car{
    margin:0;
    margin-bottom: 2rem;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    border-radius: 20px;
    
    
}

#video{
    height: 300px;
    width: auto;
    border-radius: 20px;
    
}






