#barranav{
    background-color: #11122b;
    opacity: 0.8;
    
    /*height: 12rem;*/
    padding: 0px 4rem;
}



#barranav a{
    color: white;
    /*font-size: 1.5rem;*/
}
#menudesplegable a{
    color: #11122b;
}

#opcionesnav li{
    margin-left: 2rem;
}

#opperfil{
    margin-left: 10rem ;
    justify-content: end;
    
}

