body {
 	font-family:Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
 	color:#868e96
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
	font-weight:700;
	text-transform:uppercase;
	color:#343a40
}

h1 {
	font-size:4rem;
	line-height:5.5rem
}
h2 {
	font-size:3.5rem
}
h3 {
	font-size:2rem
}
.subtitulo {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 1.5rem;
}
.bg-sidebar {
	background-color: #11122b;
	opacity: 0.8;
}
.texto-cv {
	color: goldenrod;
}
.social-icons a {
	display: inline-block;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #495057;
	color: #fff !important;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	line-height: 3.5rem;
	margin-right: 1rem;
}
.dev-icons {
	font-size: 3rem;
}
.list-inline-item i:hover {
	color: goldenrod;
}
#sideBar .navbar-nav .nav-item .nav-link {
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
} 




@media (min-width: 992px) {




	body {
		padding-left: 17rem;
		padding-top: 0;
	}
	#sideBar {
		display: flex;
		flex-direction: column;
		width: 17rem;
		height: 100vh;
		top: 0;
		left: 0;
		position: fixed;
		text-align: center;
	}
		#sideBar .navbar-brand {
			display: flex;
			margin: auto auto 0;
			padding: 0rem;
		}
		#sideBar .img-profile {
			max-width: 10rem ;
			max-height: 10rem;
			border: .5rem solid rgba(255,255,255,.2);
		}
		#sideBar .navbar-collapse {
				display: flex;
				flex-grow: 0;
				align-items: flex-start;
				width: 100%;
				margin-bottom: auto;
			}
				#sideBar .navbar-collapse .navbar-nav {
					flex-direction: column;
					width: 100%;
				}
}
section.seccion{
	padding-top: 5rem !important;
  	padding-bottom: 5rem !important;
  	max-width: 75rem;
  	min-height: 100vh;
}
section .texto-fecha {
	min-width: 18rem;
}